{% macro make(array) %}
{% spaceless %}
{% import _self as form%}

 {% for input in array%}

{%if input.attr.required is not null%}
 <div class="field {{input.attr.id}} {{input.attr.parent}} required">
{%else%}
 <div class="field {{input.attr.id}} {{input.attr.parent}}">
{%endif%}

  {% if input.attr.pos %}{% set tippos=input.attr.pos %}{%else%}{% set tippos='hint--right' %}{% endif %}
  {% if input.attr.desc %}<span class="hint--info {{tippos}}" data-hint="{{input.attr.desc}}">{% endif %}

  {% if input.attr.type     == 'radio'%}                                 {{ form.radio(input)    }}
  {% elseif input.attr.type == 'checkbox'%}                              {{ form.checkbox(input) }}
  {% elseif input.attr.type == 'select'%}                                {{ form.select(input)   }}
  {% elseif input.attr.type == 'datalist'%}                              {{ form.datalist(input) }}
  {% elseif input.attr.type == 'textarea'%}                              {{ form.textarea(input) }}
  {% elseif input.attr.type == 'submit' or input.attr.type == 'button'%} {{ form.submit(input)   }}
  {% else %}                                                             {{ form.input(input)    }}
  {% endif %}

  {% if input.attr.desc %}</span>{% endif %}
 </div>
 {% endfor %}

{% endspaceless %}
{% endmacro %}




{% macro radio(array) %}
{%if array.label %} <label>{{array.label}}</label>{%endif%}
 <div class="radio">
 {% for child in array.child %}
  <div class="element {{child.attr.value}}">
   <input type="radio" name="{{array.attr.name}}" {% for attr,value in child.attr %}{{attr}}="{{value}}" {% endfor %}>
   <label for="{{child.attr.id}}" class="label-radio">{{child.label}}</label>
  </div>
 {% endfor %}
 </div>
{% endmacro %}


{% macro checkbox(array) %}
  <input name="{{array.attr.name}}" {% for attr,value in array.attr%}{{attr}}="{{value}}" {% endfor %}>
{%if array.label %} <label for="{{array.attr.id}}">{{array.label}}</label>{%endif%}
{% endmacro %}


{% macro select(array) %}
 {%if array.label %}<label>{{array.label}}</label>{%endif%}
 <select {% for attr,value in array.attr if attr in ['id','class','name']%}{{attr}}="{{value}}" {% endfor %}>
  <option value="" disabled="disabled">{%trans "Select"%} {{array.label}}</option>
  {% for child in array.child%}
  <option {% for attr,value in child.attr %}{{attr}}="{{value}}" {% endfor %}>{{child.label}}</option>
  {% endfor %}
 </select>
{% endmacro %}


{% macro datalist(array) %}
 {%if array.label %}<label>{{array.label}}</label>{%endif%}
 <input list="{{array.attr.name}}list" type="text" {% for attr,value in array.attr %}{{attr}}="{{value}}" {% endfor %}>
 <datalist id="{{array.attr.name}}list">
  {% for child in array.child%}
  <option data-value="{{child.value}}" value="{{child.label}}">{{child.label}}</option>
  {% endfor %}
 </datalist>
{% endmacro %}


{% macro textarea(array) %}
  {%if array.label %}<label for="{{array.attr.id}}">{{array.label}}</label>{%endif%}
  <div class="editor" data-placeholder="{{array.attr.placeholder}}" {% for attr,value in array.attr%}{%if attr != 'value'%}{{attr}}="{{value}}"{%endif%} {% endfor %}>{{array.attr.value}}</div>
{% endmacro %}


{% macro submit(array) %}
 <button {% for attr,value in array.attr%}{{attr}}="{{value}}" {% endfor %}>{{array.attr.value}}</button>
{% endmacro %}


{% macro input(array) %}
 {%if array.label %}<label for="{{array.attr.id}}">{{array.label}}</label>{%endif%}
  <input {% for attr,value in array.attr if attr != 'desc' and attr != 'pos' and attr != 'parent'%}{{attr}}="{{value}}" {% endfor %}>
{% endmacro %}