{%extends display.cp%}


{%block content%}
<form method="post" id="form_posts" {%if child == 'add'%}data-clear{%endif%}>
 <div class="row auto">
  <div class="span9">
   <input type="text" name="title" id="sp-title" class="input" placeholder='{%trans "Enter title here"%}' value='{{datarow.post_title}}' autofocus data-step='5' data-intro='{%trans "Set the title of your content"%}'/>
{%if child == 'edit'%}
   <div id='url-box' data-xhr='url-box' data-step='6' data-intro='{%trans "Url of your content appear here, click on it to view"%}'>

    <a class="hint--left light-gallery" data-hint='{%trans "Check result"%}'>
     <span data-iframe="true" data-src="{{url.root}}{{datarow.post_url}}?preview=yes">{{url.root}}{{datarow.post_url}}</span>
    </a>

    <a href="{{url.root}}{{datarow.post_url}}{%if datarow.post_status != 'publish'%}?preview=yes{%endif%}" target="_blank" id='link-external' class="hint--right" data-hint='{%trans "Show in new tab"%}'><i class="fa fa-external-link"></i></a>

   </div>
{%endif%}
   <textarea name="desc" id='sp-desc' class="sp-content textarea editor" data-placeholder='{%trans "Write your post content here"%}' tabindex='2'>{{datarow.post_content | raw}}</textarea>


   <div class="panel panel-default display-none">
    <div class="panel-heading">{%trans "Excerpt"%}</div>
    <div class="panel-body">
     <textarea name="excerpt" class="sp-excerpt" maxlength='160' placeholder='{%trans "If excerpt is empty we get it automatically from content"%}'>{{datarow.meta.excerpt}}</textarea>
    </div>
    <div class="panel-footer">{%trans "Summaries of your content that can be used as page description."%}</div>
   </div>


  <div class="panel panel-default unselectable" data-step='7' data-intro='{%trans "Write your tag and press enter to add new keyword to content"%}' data-position='top'>
   <div class="panel-heading">{%trans "Tags"%}</div>
   <div class="panel-body">
    <textarea name="tags" id="sp-tags" class="sp-tags input" placeholder='{%trans "Enter Tags here"%}'>{{tagList}}</textarea>
    <input type="text" id="tag-add" autocomplete="off" placeholder='{%trans "Enter Tags"%}'/>
    <input type="button" id="tag-add-btn" class='button' value={%trans "Add"%} tabindex="-1" />
    <div id="tag-list"></div>
   </div>
   <div class="panel-footer">{% trans "Normally, tags are ad-hoc keywords that identify important information in your post (names, subjects, etc) that may or may not recur in other posts, while categories are pre-determined sections." %} <a href='tags' target="_blank">{%trans "View list of tags"%}</a></div>

  </div>

   <div class="row">
{%if module == 'pages'%}
    <p class="alert alert-info fade"><b>{% trans "What’s the difference between posts and pages?" %}</b><br />{%trans "Pages are similar to Posts in that they have a title, body text, and associated metadata, but they are different in that they are not part of the chronological blog stream, kind of like permanent posts."%} {%trans "Pages are not categorized or tagged, but can have a hierarchy."%}</p>
{%endif%}
   </div>
  </div>


 <div class="span3">

  <div class="panel panel-default inline">
   <div class="panel-heading">{%trans "Publish"%}</div>
   <div class="panel-body">
    <div class='hint--left hint100' data-hint='{%trans "Slug"%}' data-step='10' data-intro='{%trans "Set slug of content for better addressing in your site and increase SEO rate"%}'>
      <input name="slug" id="sp-slug" class="input" placeholder='{%trans "Enter slug here"%}' value='{{datarow.post_slug}}' data-xhr='slug' />
    </div>
{%if module == 'books' and child == 'edit' %}
     <input name="shortcode" id="shortcode" class="input" placeholder='{%trans "Use this shortcode on your posts"%}' value="[ref id='{{datarow.id}}']" disabled="disabled" />
{%endif%}

{%if module != 'attachments'%}
    <div class='hint--left hint100' data-hint='{%trans "Language"%}'>
    <select name="language" class="input" id='sp-language' data-step='11' data-intro='{%trans "Set language of your content to show only in this language"%}'>
     <!-- <option value="" {%if not datarow.post_language%} selected="selected"{%endif%}>{%trans "All Languages"%}</option> -->
{%for key, value in site.langlist%}
     <option value="{{key}}" {%if datarow.post_language in key%}selected="selected"{%endif%}>{{value}}</option>
{% endfor %}
    </select>
    </div>
{%endif%}
    <div class='hint--left hint100' data-hint='{%trans "Status"%}' data-step='12' data-intro='{%trans "All of content set as draft in default, for showing it to visitors you must set it to publish"%}'>
    <select name="status" class="input" id='sp-status'>
{%for key, value in enum.status.value%}
     <option value='{{value}}' {% if datarow.post_status == value or (datarow.post_status == null and enum.status.default == value) %}selected="selected"{%endif%}>{%trans value%}</option>
{% endfor %}
    </select>
    </div>
    <div class='hint--left hint100' data-hint='{%trans "Submit Changes"%}' data-step='13' data-intro='{%trans "After all changes, you must press this key to Submit"%}'>
     <button type="submit" value="submit" class="button positive">{% if child == 'edit'%}{%trans "Update"%}{%else%}{%trans "Publish"%}{%endif%}</button>
    </div>
   </div>
  </div>

{%if parentList is iterable %}
  <div class="panel panel-default unselectable">
   <div class="panel-heading">{%trans "Page Attributes"%}</div>
   <div class="panel-body">
    <div class='hint--left hint100' data-hint='{%trans "Parent Page"%}'>
    <select name="parent" class="input sp-parent" id='sp-parent' data-step='8' data-intro='{%trans "Select parent page to create a group of pages"%}'>
     <option value="" {%if not datarow.post_parent%} selected="selected"{%endif%}>({%trans "Without parent"%})</option>
{%for key, value in parentList if datarow.id != key%}
     <option value="{{key}}" {%if datarow.post_parent == key%}selected="selected"{%endif%}>{{value | raw}}</option>
{% endfor %}
    </select>
    </div>
    <label for="sp-parent">{%trans "You can nest Pages under other Pages by making one the “Parent” of the other, creating a group of Pages."%}
    </label>
   </div>
  </div>
{%endif%}
{%if catList is iterable%}
  <div class="panel panel-default cats" data-step='8' data-intro='{%trans "Select a category of your content"%}' data-position='top'>
   <div class="panel-heading">{%trans "Categories"%} <i class="fa fa-step-backward return hidden"></i></div>
   <div class="panel-body unselectable">
    <div id="cat-main">
    <input name="cat" id="cat" class="sp-cat input" placeholder='{%trans "Enter cat here"%}' value='{{datarow.cat_url}}' tabindex='-1' />
    </div>
    <div id="cat-selected"></div>
    <div id="cat-list">
{%for id, value in catList%}
     <label class="item"><input type="checkbox" name="categories[]" value="{{value.id}}" data-slug='{{value.url}}' {% if value.selected%}checked{%endif%}/> <span>{{value.title | raw}}</span></label>
{% endfor %}
    </div>
   </div>
{%if module == 'posts'%}
   <div class="panel-footer"><a href='categories/add' target="_blank">{%trans "Add New Category"%}</a></div>
{%elseif module == 'books'%}
   <div class="panel-footer"><a href='bookcategories/add' target="_blank">{%trans "Add New Category"%}</a></div>
{%elseif module == 'attachments'%}
   <div class="panel-footer"><a href='filecategories/add' target="_blank">{%trans "Add New Category"%}</a></div>
{%endif%}
  </div>
{%endif%}

 <div class="panel panel-default thumb">
  <div class="panel-heading">{%trans "Featured Image"%}</div>
  <div class="panel-body">
   <div class='hint--left hint100' data-hint='{%trans "This allows you to associate an image with your content."%}'>
    <input class="input" type="text" name="thumbid" id="sp-thumbid" placeholder='{%trans "Enter thumb id"%}' value='{{datarow.meta.thumbid}}' />
    <a href="">{%trans "Set featured image"%}</a>
   </div>
  </div>
 </div>

{%if datarow.meta.type%}
 <div id='file-meta' data-step='8' data-intro='{%trans "You can see type of your file and click on image to direct access to file"%}' data-position='top'>

  <p>
{%if datarow.meta.type=='image'%}
  <a href="{{url.root}}{{datarow.meta.url}}" class="hint--left light-gallery" data-hint='{%trans "Click to view"%}'>
   <i id='file-type' class="fa fa-file-{{datarow.meta.type}}-o" data-src="{{url.root}}{{datarow.meta.url}}"></i>
  </a><br />
   <span>{%trans "Height"%} {{datarow.meta.width}}</span> × <span>{%trans "Width"%} {{datarow.meta.height}}</span>
{%else%}
  <a href="{{url.root}}{{datarow.meta.url}}" target="_blank" class="hint--left" data-hint='{%trans "Click to view"%}'>
   <i id='file-type' class="fa fa-file-{{datarow.meta.type}}-o"></i>
  </a>
{%endif%}
   <br />{{datarow.meta.size|readableSize}}
  </p>
 </div>
{%endif%}


 </div>
 </div>

</form>
{%endblock%}