{%extends display.cp%}


{%block content%}
 <form method="post" id="form_terms" class="row auto" {%if child == 'add'%}data-clear{%endif%}>

  <div class="span9">
   <span class="required"></span>
   <input type="text" name="title" id="sp-title" class="input" placeholder='{%trans "Enter title here"%}' value='{{datarow.term_title}}' />
   <div id='url-box' data-xhr='url-box' {%if child == 'add'%}class='hidden'{%endif%}>
    <a href="{{url.root}}{{datarow.term_url}}" target="_blank" class="hint--left" data-hint='{%trans "Click to check result"%}'><span id='url-site'>{{url.root}}</span><span id='url-slug'>{{datarow.term_url}}</span></a>
   </div>
   <textarea name="desc" class="sp-content editor" data-placeholder='{%trans "Write your post content here"%}'>{{datarow.term_desc | raw}} </textarea>
{%if module == 'categories' or module == 'tags'%}
   <p class="alert alert-info fade"><b>{% trans "What’s the difference between categories and tags?" %}</b><br />{% trans "Normally, tags are ad-hoc keywords that identify important information in your post (names, subjects, etc) that may or may not recur in other posts, while categories are pre-determined sections." %} {% trans "If you think of your site like a book, the categories are like the Table of Contents and the tags are like the terms in the index." %}</p>
{%endif%}
  </div>

  <div class="span3">
   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Publish"%}</div>
    <div class="panel-body">
     <input name="slug" id="sp-slug" class="input" placeholder='{%trans "Enter slug here"%}' value='{{datarow.term_slug}}'/>
      <select name="language" id="sp-language" class="input">
       <option value="" {%if not datarow.term_language%} selected="selected"{%endif%}>{%trans "All Languages"%}</option>
{%for key, value in site.langlist%}
       <option value="{{key}}" {%if datarow.term_language in key%}selected="selected"{%endif%}>{{value}}</option>
{% endfor %}
      </select>
      <button type="submit" value="submit" class="button positive">{{page.title}}</button>
    </div>
   </div>

{%if parentList is iterable%}
  <div class="panel panel-default unselectable">
   <div class="panel-heading">{%trans "Page Attributes"%}</div>
   <div class="panel-body">
    <div class='hint--left hint100' data-hint='{%trans "Parent Page"%}'>
    <select name="parent" class="input sp-parent" id='sp-parent' data-step='8' data-intro='{%trans "Select parent page to create a group of pages"%}'>
     <option value="" {%if not datarow.term_parent%} selected="selected"{%endif%}>({%trans "Without parent"%})</option>
{%for key, value in parentList if datarow.id != key%}
     <option value="{{key}}" {%if datarow.term_parent == key%}selected="selected"{%endif%}>{{value|raw}}</option>
{% endfor %}
    </select>
    </div>
    <label for="sp-parent">{%trans "You can nest category under other category by making one the “Parent” of the other."%}
    </label>
   </div>
  </div>
{%elseif module == 'attachments'%}
{%endif%}

  </div>


 </form>
{%endblock%}