@import url("font-awesome.min.css");
@import url("jquery.dataTables.css");



body {background-color: #f5f5f5;position: relative;color: #656d78;min-height:100%;height:100%;overflow-y:scroll;}


#page-sidebar{width:15%;position:fixed;background-color:#33414e;opacity:0.9;color:#fff;min-height:100%;height:110%;z-index:1000;overflow-y:scroll;}
#page-sidebar::-webkit-scrollbar {width: 0.3em;}
#page-sidebar::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
#page-sidebar a{display:block;color:#999;padding:0 5%;line-height:300%}
#page-sidebar a:hover{color:#fff;background:rgba(255,255,255,0.2)}
#page-sidebar #page-logo{height:45px;padding:0 5px;margin:0;background-color:#3fbae4;}
#page-sidebar #page-logo a{line-height:45px;color:white;font-size:1em;text-align:center;padding:0}
#page-sidebar #page-logo a:hover{color:#fff;background:none;}
#page-sidebar .sidebar-items{margin-top:20px;}
#page-sidebar .sidebar-items i{padding: 0 5%}
#page-sidebar .sidebar-items a{border-width:2px;border-color:#33414e;font-size:1.5em;font-size:1.1vw;}
#page-sidebar .sidebar-items a:hover{border-color:#fff;}
.ltr #page-sidebar .sidebar-items a{border-left-style: solid;}
.rtl #page-sidebar .sidebar-items a{border-right-style: solid;}
#page-sidespace{width:15%;float:left;min-height:100%;}
.rtl #page-sidespace{float:right;}
.sidebar-items a:hover .fa-cog{  -webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;}

#page-content{float:left;width:85%;background-color:#f5f5f5;color:#fff;min-height:100%;position:relative;padding-bottom:50px;}
.rtl #page-content{float:right}
#page-content > #content{margin: 0 1%;display: block}
.rtl #page-content > #content{margin-left:2%;}
#page-content > #content #page-title{margin:0 1%;border-bottom:1px solid #C7D1DD;margin:10px 0 35px;padding-bottom:5px;}
#page-content > #content #page-title h2{font-weight:bold;display:inline-block;}

#header{width: 100%;z-index: 2;height:45px;line-height:45px;background-color: #33414e;}
#header-nav{float:left;}
.rtl #header-nav{float:right;}
#header-nav > li{display:inline-block;padding:0 15px;}
#header-nav > li:hover{background:#3d4e5d;color:#fff;}
#header-nav > li > a{display:inline-block;color:#ddd;height:100%;}

#profile{float:right;height:100%;cursor:pointer;}
.rtl #profile{float:left;}
#profile span{font-size:1.5em;height:100%;display:inline-block;padding: 0 20px;text-align:right;min-width:150px;}
#profile span i{padding: 10px;}
#profile:hover span{background:#3d4e5d;color:#fff; }
.vertical-menu #profile-me:hover i{color:#5cb85c;}
.vertical-menu #profile-lock:hover i{color:#f0ad4e;}
.vertical-menu #profile-logout:hover i{color:#F0433D;}
 
#profile:hover .vertical-menu{display:block;}
#profile:active .vertical-menu{display:block;}

#languages .vertical-menu{margin-left:-15px;}
.rtl #languages .vertical-menu{margin-right:-15px;}
#languages:hover .vertical-menu{display:block;}


.vertical-menu {position:absolute;top:45px;background:#3d4e5d;z-index:100;line-height:20px;font-size:1em;display:none;}
/*.vertical-menu .default{background-color: #33414e}*/
.vertical-menu >.default:after{content:"\f00c";display:inline-block;color:#5cb85c;font: normal normal normal 14px/1 FontAwesome;float:right;}
.rtl .vertical-menu >.default:after{float: left;}
.vertical-menu > a{display:block;color:#ddd;padding:5px 10px;font-size:1.5em;border-top:1px solid #33414E;;min-width:150px}
.vertical-menu > a:hover{color:#fff;background:rgba(0,0,0,0.2)}
.vertical-menu > a > i{padding:0 10px;}

.breadcrumb {width: 100%;background: #e8e8e8;padding: 6px 15px;display:inline-block;}
.breadcrumb a{font-size: 1em;line-height:12px;color: #99a0aa;float:left;}
.rtl .breadcrumb a{float:right;}
.breadcrumb a:hover {color: #656d78;}
.breadcrumb a:last-child {color: #656d78;}
.breadcrumb > a + a:before {font-family: "FontAwesome";content: "\f105";color: #99a0aa;padding: 0px 8px;float:left;}
.rtl .breadcrumb > a + a:before {content: "\f104";float:right;}

#page-footer{padding:10px 20px;background:#e8e8e8;color:#99a0aa;border-top:1px solid #eee;position:absolute;left:0;right:0;display:block;bottom:0;}
#page-footer p{margin:0;}



.col_actions a{color:#fff;}









.no-boder {
  border: 1px solid #f3f3f3;
}
.text-center {
  text-align: center;
}








/* medium-editor.min.css */
.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:" ";font-size:0}@-webkit-keyframes pop-upwards{0%{-webkit-transform:matrix(.97,0,0,1,0,12);transform:matrix(.97,0,0,1,0,12);opacity:0}20%{-webkit-transform:matrix(.99,0,0,1,0,2);transform:matrix(.99,0,0,1,0,2);opacity:.7}40%{-webkit-transform:matrix(1,0,0,1,0,-1);transform:matrix(1,0,0,1,0,-1);opacity:1}100%,70%{-webkit-transform:matrix(1,0,0,1,0,0);transform:matrix(1,0,0,1,0,0);opacity:1}}@keyframes pop-upwards{0%{-webkit-transform:matrix(.97,0,0,1,0,12);transform:matrix(.97,0,0,1,0,12);opacity:0}20%{-webkit-transform:matrix(.99,0,0,1,0,2);transform:matrix(.99,0,0,1,0,2);opacity:.7}40%{-webkit-transform:matrix(1,0,0,1,0,-1);transform:matrix(1,0,0,1,0,-1);opacity:1}100%,70%{-webkit-transform:matrix(1,0,0,1,0,0);transform:matrix(1,0,0,1,0,0);opacity:1}}
.data-medium-element sup{vertical-align:super}.data-medium-element sub{vertical-align:sub}.data-medium-element img{max-width:100%}.medium-editor-hidden{display:none}.medium-toolbar-arrow-over:before,.medium-toolbar-arrow-under:after{position:absolute;left:50%;display:block;margin-left:-8px;width:0;height:0;border-style:solid;content:""}.medium-toolbar-arrow-under:after{border-width:8px 8px 0}.medium-toolbar-arrow-over:before{top:-8px;border-width:0 8px 8px}.medium-editor-anchor-preview,.medium-editor-toolbar{position:absolute;top:0;left:0;z-index:2000;visibility:hidden;font-size:16px;font-family:HelveticaNeue,Helvetica,Arial,sans-serif}
.medium-editor-anchor-preview ul,.medium-editor-toolbar ul{margin:0;padding:0}.medium-editor-anchor-preview li,.medium-editor-toolbar li{float:left;margin:0;padding:0;list-style:none}.medium-editor-anchor-preview li button,.medium-editor-toolbar li button{display:block;margin:0;padding:15px;cursor:pointer;font-size:14px;line-height:1.33;text-decoration:none;box-sizing:border-box}.medium-editor-anchor-preview li button:focus,.medium-editor-toolbar li button:focus{outline:0}
.medium-editor-anchor-preview li .medium-editor-action-underline,.medium-editor-toolbar li .medium-editor-action-underline{text-decoration:underline}.medium-editor-anchor-preview li .medium-editor-action-pre,.medium-editor-toolbar li .medium-editor-action-pre{padding:15px 0;font-weight:100;font-size:12px;font-family:Menlo,monospace}.medium-editor-anchor-preview{max-width:280px;word-break:break-all;word-wrap:break-word;text-align:center;line-height:1.4}.medium-editor-anchor-preview a{display:inline-block;margin:5px 5px 5px 10px;color:#fff}
.medium-editor-anchor-preview-active,.medium-editor-toolbar-active{visibility:visible}.sticky-toolbar{position:fixed;top:1px}.medium-editor-toolbar-active.stalker-toolbar{-webkit-animation:pop-upwards 160ms forwards linear;animation:pop-upwards 160ms forwards linear}.medium-editor-action-bold{font-weight:bolder}.medium-editor-action-italic{font-style:italic}.medium-editor-toolbar-form{display:none}.medium-editor-toolbar-form a,.medium-editor-toolbar-form input{font-family:HelveticaNeue,Helvetica,Arial,sans-serif}
.medium-editor-toolbar-form .medium-editor-toolbar-input,.medium-editor-toolbar-form label{margin:0;padding:6px;width:316px;border:none;font-size:14px;box-sizing:border-box}.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,.medium-editor-toolbar-form label:focus{outline:0;border:none;box-shadow:none;appearance:none}.medium-editor-toolbar-form label{display:block}.medium-editor-toolbar-form a{display:inline-block;margin:0 10px;text-decoration:none;font-weight:bolder;font-size:24px}.medium-editor-placeholder{position:relative}
.ltr .medium-editor-placeholder:after{content:attr(data-placeholder)!important;float:left;position:absolute;top:10px;}
.medium-editor-dragover{background:#ddd}

.medium-image-loading{width:40px;height:40px;background-color:#333;display:inline-block;border-radius:100%;-webkit-animation:medium-image-loading-animation 1s infinite ease-in-out;animation:medium-image-loading-animation 1s infinite ease-in-out}@-webkit-keyframes medium-image-loading-animation{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}@keyframes medium-image-loading-animation{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}
.medium-toolbar-arrow-under:after{top:50px;border-color:#242424 transparent transparent}.medium-toolbar-arrow-over:before{top:-8px;border-color:transparent transparent #242424}.medium-editor-toolbar{border:1px solid #000;background:-webkit-linear-gradient(top,#242424,rgba(36,36,36,.75));background:linear-gradient(to bottom,#242424,rgba(36,36,36,.75));border-radius:5px;box-shadow:0 0 3px #000}.medium-editor-toolbar li button{min-width:50px;height:50px;border:0;border-right:1px solid #000;border-left:1px solid #333;border-left:1px solid rgba(255,255,255,.1);color:#fff;background:-webkit-linear-gradient(top,#242424,rgba(36,36,36,.89));background:linear-gradient(to bottom,#242424,rgba(36,36,36,.89));box-shadow:0 2px 2px rgba(0,0,0,.3);-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in}.medium-editor-toolbar li button:hover{background-color:#000;color:#ff0}.medium-editor-toolbar li .medium-editor-button-first{border-top-left-radius:5px;border-bottom-left-radius:5px}.medium-editor-toolbar li .medium-editor-button-last{border-top-right-radius:5px;border-bottom-right-radius:5px}.medium-editor-toolbar li .medium-editor-button-active{color:#fff;background:-webkit-linear-gradient(top,#242424,rgba(0,0,0,.89));background:linear-gradient(to bottom,#242424,rgba(0,0,0,.89))}.medium-editor-toolbar-form{background:#242424;color:#999;border-radius:5px}.medium-editor-toolbar-form .medium-editor-toolbar-input{height:50px;background:#242424;color:#ccc;box-sizing:border-box}.medium-editor-toolbar-form a{color:#fff}.medium-editor-toolbar-anchor-preview{background:#242424;color:#fff;border-radius:5px}.medium-editor-placeholder:after{color:#b3b3b1}

.rtl .medium-editor-placeholder:after{right:2%;}


.sp-title, .sp-slug, .sp-language{width:100%;
  height: 2.2em;
  width: 100%;
  margin:3px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 3px 8px;
  font-size: 1.7em;
}

.sp-slug{direction:ltr;font-size:1.3em}
.sp-language{font-size:1.3em}

.sp-content{
font-size: 1.1em;
color:#000;
min-height: 300px;
width: 100%;
border:1px solid #ddd;
padding: 10px 8px;
margin: 0 0 3px;
background-color: #fff;
position: relative;
}
.sp-content p{margin-bottom:0.8em;}
.sp-excerpt{width:100%;height:4em;padding: 3px 8px;border: 1px solid #ddd;max-width:100%; max-height: 100px}
  















.cover{padding-top: 80px;margin-top:-45px;}
#header-back {height: 45px;}





/* Admin */
#content #options{position: relative;z-index:2;width:100%;line-height: 35px;height: 35px;overflow:hidden;display:none}
#options-meta{background-color:#f3f3f3;padding:0;padding-left:120px;
transition: all .2s ease;-webkit-transition: all .2s ease;-o-transition: all .2s ease;-moz-transition: all .2s ease;}
#options-link{font-size: 14px;padding:0 20px;position: absolute;left:0px;top:0;z-index:2;background-color: #363636;background-color:#f3f3f3;border-width: 0;border-width:0 3px;border-style: solid;border-color: transparent;}
#options-link:hover{background-color: #E8E5E5;border-style: solid;border-left-color: #2DB2EA;}
#options .disappear{opacity: 0}

.rtl #options-meta{padding-right: 120px;}
.rtl #options-link{right:0;left:auto;}
.rtl #options-link:hover{border-left-color:transparent;border-right-color: #2DB2EA;}


#options-meta input{vertical-align:middle;}
#options-meta span{vertical-align:middle;}

.form-element{transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;-moz-transition: all .5s ease;
  display: block;
}
.form-element.disappear{display: none;}
.form-element.visuallyhidden {opacity: 0;}













@media only screen and (min-width: 1400px){

}