<!DOCTYPE html>
<html lang="{{global.lang|replace({'_': '-'}) }}" dir="{{global.direction}}">
<head>
{%block head_def%}
 <meta charset="UTF-8"/>
 <base href="{{url.base}}"/>
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0 maximum-scale=1.0, user-scalable=no, minimal-ui"/>
 <title>{{global.title}}</title>
 <meta name     ="description"             content="{{page.desc}}"/>
 <meta name     ="site:root"               content="{{url.root}}"/>
{%block head_twitter%}
 <meta name     ="twitter:card"            content="summary"/>
 <meta name     ="twitter:site"            content="@twitter"/>
 <meta name     ="twitter:title"           content="{{global.title}}"/>
 <meta name     ="twitter:description"     content="{{page.desc}}"/>
 <meta name     ="twitter:image"           content="{{url.static}}images/logo.png"/>
{%endblock%}
 <meta property ="og:url"                  content="{{url.root}}"/>
 <meta property ="og:image"                content="{{url.static}}images/logo.png"/>
 <meta property ='og:locale'               content='{{global.lang}}'/>
 <meta name     ="msapplication-TileColor" content="#000000"/>
 <meta name     ="application-name"        content="{{global.title}}"/>
 <!-- [if lte IE 8]><script>document.location = 'http://deadbrowser.com/?lang={{global.lang}}';</script><![endif] -->
 <link rel="author"           href="{{url.static}}humans.txt"/>
 <link rel="shortcut icon"    href="{{url.static}}images/favicon.png"/>
 <link rel="apple-touch-icon" href="{{url.static}}images/favicon.png">
{%if include.fontawesome %}
 <link rel="stylesheet"       href="{{url.myStatic}}css/font-awesome.min.css"/>{{include.newline}}{%endif%}
{%if include.css_main%}
 <link rel="stylesheet"       href="{{url.myStatic}}css/main.css"/>{{include.newline}}{%endif%}
{%if include.css     %}
 <link rel="stylesheet"       href="{{url.static}}css/style.css"/>{{include.newline}}{%endif%}
{%if include.cp      %}
 <link rel="stylesheet"       href="{{url.myStatic}}css/style-cp.css"/>{{include.newline}}{%endif%}
 <link rel="canonical"        href="{{url.MainProtocol}}://{{url.SubDomain}}{{url.MainSite}}{{url.path}}"/>
 <link rel="alternate"        href="{{url.root}}feed/" title="{{site.title}} RSS feed" type="application/rss+xml" />
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
 <link rel="alternate"        href="{{url.protocol}}://{{key|slice(0, 2)}}.{{url.raw}}" hreflang="{{key|slice(0, 2)}}"/>
{%endfor%}

{%block head_css         %}{%endblock%}
{%block head_js          %}{%endblock%}
{%endblock%}
{%block head             %}{%endblock%}
</head>
{% if extendForm%}
{% import macro.forms as forms %}
  {% import macro.forms as forms %}
{% endif %}

<body data-xhr="body" id="{{global.id}}" class="{{global.direction}} {{bodyclass}}" {{bodyel|raw}}>

{%block body%}
{%block header%}{%endblock%}
{%block content%}
 <style type="text/css">body{background-color:#eee}.def-msg{font-family:sans-serif;padding-left:15%;color:#403B33;}h1.def-msg{margin-top:10%;color:#9E4949} .rtl .def-msg{padding-right:15%;}</style>
 <h1 class='def-msg'>{{site.title}}</h1>
 <h2 class='def-msg'>{{site.desc}}</h2>
 <p class='def-msg'>Let start using Saloos! start edit twig block for show your content. for replace this text use <b>block content</b>.</p>
{%endblock%}
{%block footer%}{%endblock%}
{%endblock%}
{%block debug%}
 {%if debug is iterable%}
  <div id="formError" class="error_{{debug.status}} unselectable">
  {%for key, mydebug in debug.messages if mydebug is iterable %}
   <ul class="{{key}}">
   {%for key, err in mydebug%}
   {%if err.title is defined%}
   <li class="{{err.group}} {{err.redirect}}">{{err.title}}</li>
   {%else%}
   <li class="n_{{key}}">{{err}}</li>
   {%endif%}
   {%endfor%}
   </ul>
   {%endfor%}
  </div>
 {%endif%}
{%endblock%}
{%block foot_css%}{%endblock%}

{%if include.js_main   %} <script src="{{url.myStatic}}js/common.js"></script>{{include.newline}}{%endif%}
{%if include.datatable %} <script src="{{url.myStatic}}js/datatable/jquery.dataTables.min.js"></script>
{{include.newline}}{%endif%}
{%if include.editor    %} <script src="{{url.myStatic}}js/cp/medium-editor.min.js"></script>{{include.newline}}{%endif%}
{%if include.telinput  %} <script src="{{url.myStatic}}js/intlTelInput.min.js"></script>{{include.newline}}{%endif%}
{%if include.lightbox  %} <script src="{{url.myStatic}}js/lightGallery.min.js"></script>{{include.newline}}{%endif%}
{%if include.chart     %} <script src="{{url.myStatic}}js/highcharts/highcharts.js"></script>{{include.newline}}{%endif%}
{%if include.chartexp  %} <script src="{{url.myStatic}}js/highcharts/modules/exporting.js"></script>{{include.newline}}{%endif%}
{%if include.uploader  %} <script src="{{url.myStatic}}js/cp/uploader.js" async></script>{{include.newline}}{%endif%}
{%if include.cp        %} <script src="{{url.myStatic}}js/cp/cp.js" async></script>{{include.newline}}{%endif%}
{%if include.js        %} <script src="{{url.static}}js/script.js"></script>{{include.newline}}{%endif%}
{%block js             %}{%endblock%}

<div data-xhr='foot_js' class="foot_js">
{%block foot_js        %}{%endblock%}
</div>
</body>
</html>