{%extends display.account%}


{%block desc%}
   <div id="desc" >
    <p>{%trans "we send a verification code for you"%}</p>
    <p>{%trans "please check your mobile and enter the code"%}</p>
    <a id="delay" class="hide" href="/verificationsms{{url.param}}" target="_blank">{%trans "don't receive message?"%}</a>
   </div>
{%endblock%}


{%block myjs%}
<script>
route('/verification', function() {
  setTimeout(showafterdelay, 100000);
});

function showafterdelay() {
  $('#delay').addClass('visible');
}
</script>
{%endblock%}