{%extends display.cp%}


{%block content%}
 <div class="row unselectable">
  <div class="span12">
   <div class="panel panel-default">
    <div class="panel-heading">{%trans "Define new permission"%}</div>
    <div class="panel-body">
     <form class="ajx form row inline autostyle" method="post" action="/permissions/add">
      <div class="field">
       <label for="pName">{%trans "Permission Name"%}</label><input type="text" name="pName" id="pName" maxlength="50" placeholder='{%trans "Permission Name"%}' autocomplete="off">
      </div>

      <button type="submit" class="button primary row-clear" name="submit" id="submit">{%trans "Insert new permission type"%}</button>
     </form>
    </div>
    <div class="panel-footer">
     {%trans "for define new type of permission fill the name and click on insert"%}{%trans "After insert you can edit your custom permission"%}.
    </div>
   </div>

   <div class="panel panel-default">
    <div class="panel-body tags-list">
    <h3>{%trans "list of permissions"%}</h3>
{% for key, value in datarow%}
     <span>
      <a href="/permissions/{{key}}">{%trans key%}
      </a>
       <a class="fa fa-times" href="/permissions/delete={{key}}" data-data='{"id": "{{key}}" }' data-method="post" data-modal="delete-confirm"></a></span>
{%endfor%}
    </div>
    <div class="panel-footer">
    <a class="float-right label label-info" href="{{url.base}}">{%trans%}Back to{%endtrans%} {%trans "Dashboard"%}</a>
    {%trans "list of current permissions is listed here, for edit click on it"%}.</div>
   </div>


   <div class='modal' id='delete-confirm'>
    <div class='modal-dialog'>
     <h3 class='modal-title'>{%trans%}delete permission{%endtrans%}</h3>
     <p class='modal-body'>{%trans%}seriously, are you sure? There's no coming back.{%endtrans%}</p>
     <div class='modal-footer buttons'>
      <a class='button' data-cancel>{%trans "Cancel"%}</a>
      <div class='or' data-text='{%trans "or"%}'></div>
      <a class='button negative' data-ajaxify data-ok>{%trans "Delete"%}</a>
     </div>
    </div>
   </div>
  </div>
 </div>
{%endblock%}