{% import macro.forms as forms %}

 <section id="content" data-xhr="content">
{%if page.title and module != 'home'%}
  <header id="page-title">
   <h2>{{page.title}} {%if page.desc%}<small>{{page.desc}}</small>{%endif%}</h2>
{%if page.haschild and child!='add'%}
   <a class="label label-info label-form" href="{{url.base}}{{module}}/add">{%trans%}Add New Record{%endtrans%}</a>
{%endif%}
  </header>
{%endif%}
{%block content%}{%endblock%} 
 </section>


 <nav class="breadcrumb unselectable" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
   {{breadcrumb() | raw}}
 </nav>

 <div data-xhr='foot_js' class="foot_js">
{%block foot_js%}{%endblock%}
 </div>